:root {
	--blue-100: #F2F9FE;
	--blue-200: #E5F4FD;
	--blue-300: #D8EEFC;
	--blue-400: #CBE8FB;
	--blue-500: #BEE2FA;
	--blue-600: #B1DDF9;
	--blue-700: #A4D7F8;
	--blue-800: #97D1F7;
	--indent: 2ch;
	--wrap-indent: 4ch;
}

* {
	font-size: 16px;
	font-family: monospace;
}

html {
	background: var(--blue-400);
	width: 800px;
	max-width: 100ch;
	margin: 0 auto;
	/* For tablet / mobile devices. */
	/* Account for the scrollbar. */
}

@media (max-width: 800px) {
	html {
		width: 100%;
		padding-left: 2%;
		padding-right: 3%;
	}
}

header,
p,
pre ,
ol {
	margin: 1em 0;
}

header {
	text-transform: uppercase;
	text-align: center;
}

h1,
p.header {
	margin: 0;
	margin-top: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

a {
	color: inherit;
	font-weight: bold;
}

header a {
	text-decoration: none;
}

img {
	margin: 0 auto;
	border: 1px solid black;
}

pre {
	background: white;
	padding: 1em var(--indent);
	/* Make preformatted text wrap.
	 * Source: https://css-tricks.com/snippets/css/make-pre-text-wrap/ */
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

div.highlight pre {
	/* Indent wrapped code. */
	padding: 1em calc(var(--indent) + var(--wrap-indent));
	text-indent: calc(-1 * var(--wrap-indent));
}

code {
	background: white;
	border: 1px solid black;
	padding: 0.25em 1ch;
}

pre code {
	/* Disable white box on first and last line of highlighted code block. */
	border: none;
	padding: 0;
}

ol.content-list {
	padding: 0;
	list-style: none;
}
