* {
	font-family: monospace;
	font-size: 16px;
}

html {
	width: 800px;
	max-width: 100ch;
	margin: 0 auto;
}

@media (max-width: 800px) {
	html {
		width: 100%;
	}
}

header {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
